<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.tracker.model.mapper.MemberMapper">

	<resultMap type="Member" id="memberResultMap">
		<id column="memberId" property="id" />
		<result column="memberName" property="name" />
		<result column="memberEmail" property="email" />
		<result column="memberActive" property="active" />
		<result column="memberPassword" property="password" />
		<result column="memberAddress" property="address" />
		<result column="memberDeleted" property="deleted" />
		<result column="regDate" property="regDate" />
	</resultMap>

	<sql id="memberListColums">
		memberId,
		memberName,
		memberEmail,
		memberActive,
		memberPassword,
		memberAddress,
		memberDeleted,
		regDate
	</sql>
	
	<insert id="insertMember" parameterType="Member" >
		INSERT INTO member 
		(
			memberId, 
			memberName, 
			memberEmail, 
			memberPassword,
			memberAddress
		) 
		VALUES 
		(
			#{id}, 
			#{name}, 
			#{email}, 
			#{password},
			#{address}
		)
	</insert>
	
	<select id="getMemberList" resultType="Member">
		SELECT
			<include refid="memberListColums"/>
		 FROM member
	</select>
	
	<select id="getMemberById" resultType="Member" parameterType="string">
		SELECT memberId
		FROM member
		WHERE memberId = #{id}
	</select>
	
	<select id="getMemberByIdAndPasswd" resultType="Member" parameterType="hashmap">
		SELECT 
			memberId,
		memberName,
		memberEmail,
		memberActive,
		memberPassword,
		memberAddress,
		memberDeleted,
		regDate
		FROM
			member
		WHERE memberId = #{id} AND memberPassword = #{password}
	</select>
	
	<select id="getMemberByIdAndPasswd2" resultMap="memberResultMap" parameterType="hashmap">
	
		SELECT 
			<include refid="memberListColums"/>
		FROM
			member
		WHERE memberId = #{id} AND memberPassword = #{password}	
	</select>
	
	
</mapper>



