<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace : 패키지명.클래스이름 을 논리적으로 선언 -->
<mapper namespace="com.tracker.model.mapper.BoardMapper">
	
	<insert id="insertBoard" useGeneratedKeys="true" keyColumn="boardno" parameterType="Board">
		INSERT INTO
		board
		(
			boardno,
			boardkind,
			boardwriter,
			boardtitle,
			boardcontent
		)
		VALUES
		(
			board_seq.nextval,
			#{ boardKind },
			#{ boardWriter },
			#{ boardTitle },
			#{ boardContent }
		)
	</insert>
	
	<sql id="boardcolumn">
		boardno,
		boardkind,
		boardwriter,
		boardtitle,
		boardcontent,
		boardregdate,
		boarddeleted
		boardreadcount	
	</sql>
	
	<sql id="boardcommentcolumn">	
		commentno,
		commentwriter,
		boardno,
		commentcontent,
		commentregdate
		commentdeleted,
	</sql>
	
	<select id="getBoardList" parameterType="Board" resultType="Board">
		SELECT
			<include refid="boardcolumn" />
		FROM
			board	
	</select>
	
	<resultMap type="Board" id="boardByBoardNo">
		<id column="boardno" property="boardNo" />
		<result column="boardkind" property="boardKind" />
		<result column="boardwriter" property="boardWriter" />
		<result column="boardtitle" property="boardTitle" />
		<result column="boardcontent" property="boardContent" />
		<result column="boardregdate" property="boardRegDate" />
		<result column="boarddeleted" property="boardDeleted" />
		<result column="boardreadcount" property="boardReadCount" />
		<collection property="comments" column="boardno" resultMap="commentListByBoardNo" />	
	</resultMap>
	
	<resultMap type="Comment" id="commentListByBoardNo">
		<id column="commentno" property="commentNo" />
		<result column="commentwriter" property="commentWriter"/>
		<result column="commentcontent" property="commentContent"/>
		<result column="commentregdate" property="commentRegDate"/>
		<result column="commentdeleted" property="commentDeleted"/>
	</resultMap>
	
	<select id="getBoardByBoardNo" parameterType="int" resultMap="boardByBoardNo">
		SELECT
			<include refid="boardcolumn" />
		FROM
			board
		WHERE
			boardno=#{ boardNo }
	</select>
	
	<select id="getCommentListByBoardNo" parameterType="int" resultMap="commentListByBoardNo">
		SELECT
			<include refid="boardcommentcolumn" />
		FROM
			boardcomment
		WHERE
			boardno=#{ boardNo }
	</select>
		
	<update id="updateBoard" parameterType="Board">
		UPDATE
			board
		SET
			boardtitle=#{ boardTitle },
			boardcontent=#{ boardContent },
		WHERE
			boardno=#{ boardNo }
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		UPDATE
			board
		SET
			boarddeleted = '1'
		WHERE
			boardno=#{ boardNo }
	</delete>
	
	<insert id="insertBoardComment" useGeneratedKeys="true" keyColumn="commentno" keyProperty="commentNo" parameterType="Comment">
		INSERT INTO
		boardcomment
		(
			commentno,
			commentwriter,
			boardno,
			commentcontent
		)
		VALUES
		(
			boardcomment_seq.nextval,
			
		)
		
		
	</insert>
	
	<update id="updateBoardComment" parameterType="Comment">
		UPDATE
			boardcomment
		SET
			commentcontent=#{ commentContent }		
		WHERE
			commentno=#{ commentNo }
	</update>
	
	<delete id="deleteBoardComment">
		UPDATE
			boardcomment
		SET
			commentdeleted='1'
		WHERE
			commentno=#{ commentNo }
	</delete>
	
	
	
	
	
	
	
	
	
	
</mapper>