<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.tracker.model.mapper.TrackingMapper">

	<insert id="insertTracking" parameterType="HashMap" >	
		INSERT INTO tracking 
		(
			trackingNo, 
			onEquipNo, 
			latitude, 
			longitude, 
			savedTime
		) 
		VALUES 
		(
			tracking_seq.nextval, 
			#{onEquipNo}, 
			#{latitude}, 
			#{longitude}, 
			sysdate
		)	
	</insert>
	
	<select id="getTracking" parameterType="int" resultType="Tracking">
		SELECT 
			trackingNo, 
			onEquipNo, 
			latitude, 
			longitude, 
			savedTime, 
			RANK() OVER (ORDER BY savedTime DESC ) 
		FROM 
			tracking 
		WHERE 
			onEquipNo = #{onEquipNo}
	</select>
	
	<insert id="registEquipment" parameterType="HashMap" >
		insert into onEquip
		(
			onEquipNo, 
			memberId, 
			onEquipRegDate, 
			onEquipDeleted, 
			equipNo, 
			serialNumber
		)
		values 
		(
			onequip_seq.nextval, 
			#{memberId}, 
			sysdate, 
			0, 
			#{equipNo}, 
			#{serialNumber}
		)
	</insert>
	
	<select id="getEquipSerialByMemberId" parameterType="String" resultType="int">
		select 
			serialNumber 
		from 
			onEquip 
		where 
			MEMBERID = #{memberId};
	</select>
	
	<delete id="deletedOnEquip" parameterType="int">
		delete from onEquip 
		where onEquipNo = #{onEquipNo}
	</delete>
	
</mapper>



